In [1]:
# Load the document file into memory
def load_doc(filename):
    # Open file to read
    file = open(filename, 'r')
    text = file.read()
    file.close()
    return text

In [2]:
!pwd

/Users/ChrisKarg/code/CMaxK/robo_romeo/notebooks

In [5]:
dataframe = load_doc("../raw_data/descriptions.txt")

In [6]:
dataframe = dataframe.split('\n')

In [7]:
len(dataframe)

40460

In [8]:
dataframe[:2]

['1000268201_693b08cb0e a child in a pink dress is climbing up a set of stairs in an entry way',
 '1000268201_693b08cb0e a girl going into a wooden building']

In [28]:
l_all =[]
for n in dataframe:
    line = {"id": n.split(" ")[0],
        'value': "startsequence " + " ".join(n.split(" ")[1:]) + " endsequence"}
    l_all.append(line)

In [29]:
import pandas as pd
df_all = pd.DataFrame(l_all)

In [30]:
from tensorflow.keras.preprocessing.text import Tokenizer

In [31]:
t = Tokenizer()
t.fit_on_texts(df_all.value)

In [32]:
df_all["value_tokenized"] = t.texts_to_sequences(df_all.value)

In [33]:
df_all

,id,value,value_tokenized
0,1000268201_693b08cb0e,startsequence a child in a pink dress is climb...,"[2, 1, 42, 4, 1, 90, 170, 7, 119, 53, 1, 396, ..."
1,1000268201_693b08cb0e,startsequence a girl going into a wooden build...,"[2, 1, 19, 314, 64, 1, 194, 117, 3]"
2,1000268201_693b08cb0e,startsequence a little girl climbing into a wo...,"[2, 1, 40, 19, 119, 64, 1, 194, 2425, 3]"
3,1000268201_693b08cb0e,startsequence a little girl climbing the stair...,"[2, 1, 40, 19, 119, 5, 393, 20, 60, 2425, 3]"
4,1000268201_693b08cb0e,startsequence a little girl in a pink dress go...,"[2, 1, 40, 19, 4, 1, 90, 170, 314, 64, 1, 194,..."
...,...,...,...
40455,997722733_0cb5439472,startsequence a man in a pink shirt climbs a r...,"[2, 1, 11, 4, 1, 90, 37, 252, 1, 84, 123, 3]"
40456,997722733_0cb5439472,startsequence a man is rock climbing high in t...,"[2, 1, 11, 7, 84, 119, 196, 4, 5, 65, 3]"
40457,997722733_0cb5439472,startsequence a person in a red shirt climbing...,"[2, 1, 43, 4, 1, 25, 37, 119, 53, 1, 84, 123, ..."
40458,997722733_0cb5439472,startsequence a rock climber in a red shirt en...,"[2, 1, 84, 358, 4, 1, 25, 37, 3]"
40459,997722733_0cb5439472,startsequence a rock climber practices on a ro...,"[2, 1, 84, 358, 1851, 6, 1, 84, 119, 109, 3]"

In [53]:
class DataPipeline:
    
    def __init__(self,df,batch_size, vocab_size):
        self.df = df
        self.batch_size = batch_size
        self.vocab_size = vocab_size
        self.prepare_dataset()

    def prepare_dataset(self):


        # for loop to append X1,X2,y
        X1,X2,y = [],[],[]

        for idx, data in self.df.iterrows():

            seq = data["value_tokenized"]
            for i in range(1,len(seq)):
                X1.append(data["id"])
                X2.append(seq[0:i])
                y.append(seq[i])

        self.X1,self.X2,self.y = X1,X2,y
    
    def encode_images(self):
    
# encode images with CNN
# function to categorical
    
    
    def __getitem__(self,idx):
        
        imgs_to_load = self.X1[idx * self.batch_size : (idx +1) * self.batch_size]
        x1_batch = self.load_images_encoded(imgs_to_load)
        
        seq_to_pad = self.X2[idx * self.batch_size : (idx +1) * self.batch_size]]
        x2_batch = self.seq_to_padded(sea_to_pad)
        
        y_to_cat = self.y[idx * self.batch_size : (idx +1) * self.batch_size]
        y_batch = self.to_cat(y_to_cat)
        
        return ([x1_batch,
                x2_batch],
                y_batch)
                
    def __len__(self):
        return len(self.X1)// self.batch_size

In [54]:
dl = DataPipeline(df_all,16)

In [57]:
dl.batch_size = 32

In [58]:
len(dl)

14900